---
import heroImg from '../../assets/images/hero.jpg'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="hero-text">
            <h1>Canal Street Market is carefully curated retail market, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores nesciunt  voluptate facilis, rerum laborum ullam sed earum repellendus sint numquam neque in recusandae?</h1>
        </div>

    <picture class="main-picture">
        <source 
            media="min-width: 601px" 
            srcset="../../assets/images/hero.jpg"
        />
        <img 
            src={heroImg.src} 
            alt="heroimg"
            class="main-picture"

           
        />
    </picture>


    </section>
    
</body>
</html>

<style>
h1{
    /* font: sans-serif; */
}

.hero-text{
    font-size: 2.8rem;
    padding: 15%;
}

.main-picture{
    width: 75%;
}

</style>