 <!-- ============================================ -->
 <!--                    Market Info               -->
 <!-- ============================================ -->

 <section>
    <div>
        <h2>A New Kind</h2>
        <h2>of Market</h2>
    </div>
    <div>
    <div>
        <picture>

        </picture>
        <p>

        </p>
    </div>

    <div>
        <picture>
            
        </picture>
        <p>
            
        </p>
    </div>

    <div>
        <picture>

        </picture>
        <p>
            
        </p>
    </div>
</div>
 </section>

 <style>
    h2{
        font-size: 113px;
    }
 </style>