 <!-- ============================================ -->
 <!--                    Market Info               -->
 <!-- ============================================ -->

 <section>
    <div>
        <h1>A New Kind <br> of Market</h1>
        
    </div>
    <div>
    <div>
        <picture>

        </picture>
        <p>

        </p>
    </div>

    <div>
        <picture>

        </picture>
        <p>
            
        </p>
    </div>

    <div>
        <picture>

        </picture>
        <p>
            
        </p>
    </div>
</div>
 </section>

 <style>
    h1{
        font-size: 113px;
    }
 </style>